H3{
    text-align: center;
}
p{
    font-size: 115%;
}
body{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h1{font-style: italic;}
body{
    background-color:#b6d7a8 ;
}
h1{
    text-align: center;
    color:rgb(93, 163, 255)  
}
article{
    text-align: center;
    color: tomato;
}

